<div class="container mt-5 p-5">
  <h1 class="text-center ">About Us</h1>
  <div id="bg-buffet" class="row mx-auto text-center align-items-center rounded justify-content-center">
    <div class="col-md-4  my-auto text-white">
      <h5>Get a world class experience with Hotel Royale
        we aim to provide premium services in competive prices.
        Book your stay with us or book a slot of buffet to enjoy our large
        range of cuisine Today.So whats the hold up contact us today to enjoy our
        hospitality.
      </h5>
    </div>
    <div class="col-md-4  justify-content-end order-first order-md-last">
      <img src="assets/images/About us page-cuate.png" class="img-fluid" alt="">
    </div>
  </div>
</div>
