#header{
  background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}
#bg-buffet{
  background-color:#0f0e17;
}
#brand{
  background-color:#ff8906;
  color: #fffffe;
}
#btn{
  background-color:#ff8906;
  color: #fffffe;
}
