*{
  margin: 0;
  padding: 0;
}

#header{
  background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}

#header2{
  background-color: #FBAB7E;
  background-image: linear-gradient(32deg, #FBAB7E 0%, #F7CE68 50%, #ffffff 100%);

}
#headline{
  color:#0f0e17
}

#btn{
  background-color:#ff8906;
  color: #fffffe;
}
#bg-buffet{
  background-color:#0f0e17;
}
h1{
color:#fffffe;
}
