<div class="container-fluid my-5">
  <div class="row  rounded" id="bg-buffet" >
    <div class="col-md-6  my-auto text-center p-3">
    <h1 class="text-white">Welcome to Hotel Royale</h1>
    <h3 class="text-muted"><i>"Your one stop to get it all"</i></h3>
    <a class="btn p-2 my-2 " routerLink="/rooms" id="btn">Explore Now!</a>
    </div>
    <div class="col-md-6  text-center my-auto order-first order-md-last p-3">
      <img  src="assets/images/Hotel Booking.gif" class="img-fluid rounded" id alt="" >
    </div>
  </div>
  <div class="row my-3" >
    <h1 class="text-center  my-5" id="headline">We offer High Class Rooms</h1>
    <div class="col-md-3 shadow  mx-auto rounded border p-3 text-center" >
      <img src="assets/images/room1.jpg" class="rounded img-fluid" alt="">
      <ul class="mx-4 my-2 ">
        <li class="text-start">King size Bed</li>
        <li class="text-start">Complimentary Breakfast</li>
        <li class="text-start">Refreshments</li>
      </ul>
      <a id="btn" class="btn mt-2 p-2 text-white" routerLink="/rooms">Explore</a>

    </div>
    <div class="col-md-3 shadow  mx-auto rounded border p-3 text-center" >
      <img src="assets/images/room2.jpg" class="rounded img-fluid" alt="">
      <ul class="mx-4 my-2 ">
        <li class="text-start">King size Bed</li>
        <li class="text-start">Complimentary Breakfast</li>
        <li class="text-start">Refreshments</li>
      </ul>
      <a id="btn" class="btn mt-2 p-2 text-white" routerLink="/rooms">Explore</a>
    </div>
    <div class="col-md-3 shadow  mx-auto rounded border p-3 text-center">
      <img src="assets/images/room3.jpg" class="rounded img-fluid" alt="">
      <ul class="mx-4 my-2 ">
        <li class="text-start">King size Bed</li>
        <li class="text-start">Complimentary Breakfast</li>
        <li class="text-start">Refreshments</li>
      </ul>
      <a id="btn" class="btn mt-2 p-2 text-white" routerLink="/rooms">Explore</a>

    </div>
  </div>
  <div class="row border rounded shadow p-3 my-3 mx-3 " id="bg-buffet">
    <div class="col-md-6 my-auto text-center">
      <h1 class="text-white">Enjoy Our High Quality Buffet</h1>
      <a id="btn" class="btn mt-2 p-2 text-white" routerLink="/buffet">Explore</a>

    </div>
    <div class="col-md-6 order-first order-md-last">
      <img src="assets/images/buffet-banner.jpg" class="rounded img-fluid" alt="">
    </div>
  </div>
</div>
